*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html{
    width:100%;
    background: #fff;
}

header{
    padding:20px;

    display: flex;
    flex-direction:column;
    align-items: center;
}

header #title{
    display:flex;
    flex-direction:column;
}

header #title h1{
    margin: auto 0;
}

header #title img{
    width: 50px;
    margin: 0 auto;
}

header #lan{
    margin: 20px;
    display:flex;
    flex-direction:row;
}

header #lan img{
    width: 40px;
    border-radius: 20px;
}

header #lan img:hover{
    box-shadow: inset 0 0 0px gold, 0 0 6px blue;
}

header #lan #lan-but{
    box-sizing: initial;

    background-color: rgb(115, 115, 116);
    width: 75px;
    height: 24px;
    margin: auto 10px;
    border-radius: 12px;
    padding: 0 2px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


header #lan #lan-but:hover{
    box-shadow: inset 0 0 0px gold, 0 0 6px blue;
}

header #lan #lan-but-dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(226, 226, 224);
    transition:0.5s;

    animation: move 5s forwards;
}

header #lan #lan-but .is-pt{
    animation: goPT 1s ease-in forwards running;
}

header #lan #lan-but .is-en{
    animation: goEN 1s ease-in forwards running;
}

@keyframes goPT{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(55px);  
    }
}

@keyframes goEN{
    0%{
        transform: translateX(55px);
    }
    100%{
        transform: translateX(0);  
    }
}
