body{
    width: 100%;
}
table, td, tr{
    border: auto;
}
table td{
    border: 1px solid black;
}

tbody tr:nth-child(2n+1){
    background-color: aqua;
}

a.botao{
    text-decoration:none;
    background: linear-gradient(#6092d3,#3a7ace);
    font-size: 20pt;
    display: inline-block;
    margin: 40px auto;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 5px 5px 5px #c9c8c8;

}
a.botao:hover{
    background: linear-gradient(#3a7ace, #6092d3);
}

.tarja{
    width: fit-content;
    background-color:#3a7ace;
    text-align: center;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px black;
    position: fixed;
    top: 35px;
    left: -85px;
    transform: rotateZ(-45deg);
}

.tarja a{
    border: 1px solid white;
    padding: 20px 100px;
    color: azure;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-decoration:none;
}

.container{
    width:95%;
    display:grid;
    gap: 10px 15px;
    overflow-x: auto;

    grid-template-areas:
        "item5 item5 item2"
        "item3 item1 item2"
        "item4 item1 ."
    ;
}


.item{
    background-color:rgb(214, 67, 67);
    border-radius: 10px;
    padding:20px;
    font-size: 20px;
}

.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}

.container2{
    width:95%;
    margin-top:20px;
    display:grid;
    gap:10px;
    grid-template-areas:
    "header header header header"
    "menu content content content"
    "ads content content content"
    "rodape rodape rodape rodape"
    ;
}

.container2 .item{
    background-color:#3a7ace;
}

.container2 header{
    grid-area: header;
}
.container2 nav{
    grid-area: menu;
}
.container2 section{
    grid-area: content;
}
.container2 aside{
    grid-area: ads;
}
.container2 footer{
    grid-area: rodape;
}

@media (max-width:900px){
    .container2{
        grid-template-areas:
        "header header header menu"
        "content content content content"
        "ads ads ads ads"
        "rodape rodape rodape rodape"
        ;
    }
}