*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    transition: 0.5s;
}

:root{
    --menu-bg: #7a7ad3;
}

body, html{
    width:100%;
    background-color: #ffffff
}

header{
    padding:20px;

    display: flex;
    flex-direction:column;
    align-items: center;
}

header img#background{
    width: 100vw;
    height: 25vh;
    position: absolute;
    top:0;
    z-index: 0;
    object-fit:cover;

}

header #title{
    margin-top:195px;
    display:flex;
    flex-direction:column;
    z-index: 99;
}

header #title h1{
    margin: 10px 0 auto 0;
}

header #title-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#title-img img{
    width: 50px;
    margin: 0 auto;
}

header #lan{
    margin: 20px;
    display:flex;
    flex-direction:row;
}

header #lan img{
    width: 40px;
    border-radius: 20px;
}

header #lan img:hover{
    box-shadow: inset 0 0 0px gold, 0 0 6px blue;
}

header #lan #lan-but{
    box-sizing: initial;

    background-color: #b5b5cf;
    width: 75px;
    height: 24px;
    margin: auto 10px;
    border-radius: 12px;
    padding: 0 2px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


header #lan #lan-but:hover{
    box-shadow: inset 0 0 0px gold, 0 0 6px blue;
}

header #lan #lan-but-dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(226, 226, 224);
    transition:0.5s;

    animation: move 5s forwards;
}

header #lan #lan-but .is-pt{
    animation: goPT 1s ease-in forwards running;
}

header #lan #lan-but .is-en{
    animation: goEN 1s ease-in forwards running;
}

@keyframes goPT{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(55px);  
    }
}

@keyframes goEN{
    0%{
        transform: translateX(55px);
    }
    100%{
        transform: translateX(0);  
    }
}



div#menu-btn{
    width: 85px;
    height: 85px;
    background-color: var(--menu-bg);
    margin: 8px 0 0 8px;
    border-radius: 15px;
    border:4px solid black;

    z-index: 99999;
    
    position: fixed;
    top: 0;
    left:0;

    display:flex;
    align-items: center;
    justify-content: center;

    
}

div#menu-btn img{
    width: 55px;
    animation: appear 2s forwards;
}

@keyframes appear{
    0%{
        opacity:0%;
    }
    100%{
        opacity:100%;
    }
}

nav#menu-opt{
    position:fixed;
    top:0;
    left:0;
    
    width: 100vw;
    overflow-y:auto;
    z-index:999;

    background-color: #7a7ad3;

    transform: translateX(-100%);

    display: flex;
    flex-direction: column;
    align-items: center;
}


nav#menu-opt.opened{
    animation:openMenu 0.5s forwards;
}

nav#menu-opt.closed{
    animation:closeMenu 0.5s forwards;
}

@keyframes openMenu{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform:translateX(0);
    }
}

@keyframes closeMenu{
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
}

nav ul{

}